node_modules
.next
.next-e2e
.git
.gitignore
.env*
!.env.example
**/database/*.db
**/database/*.db-journal
**/database/*.db-wal
**/database/*.db-shm
coverage
docs
apps/web/scripts
apps/web/example
apps/web/src/__tests__
apps/macos
packages
*.md
!README.md
logo.png
.husky
drizzle
.ruff_cache
.superset
